<div class="col-12 col-md-10 mb-3 mx-auto">
    <div class="card {% if not blogpost.publish_date  %} border border-warning {% endif %}" >
        <div class="card-body">
            {% if blogpost.user.is_authenticated %}
                <h2><b>@{{ blogpost.user}}</b></h2> <hr style="background-color:olive;height:2px">
            {% endif %}
            {% if blogpost.image %}

                <a href="{{ blogpost.get_absolute_url }}" class="card-link"><img src="{{ blogpost.image.url }}" class="card-img-top"  style="width:35%;height:35%;"/></a>
            {% endif %}

            <h5 class="card-title ">{{ blogpost.title }}</h5>
            <h6 class="card-subtitle mb-2 mt-3 text-muted"> post id: {{blogpost.id}}</h6>
            <P class='card-text'>
            <small class='text-muted' > {{ blogpost.publish_date }} </small>
            {% if truncate %}
                {{ blogpost.content|linebreaks| truncatewords:40 }}
            {% else %}
                {{ blogpost.content|linebreaks }}
            {% endif %}
            </p>
            {% if not detail %}
                <h6 style="color:red;">{% if not blogpost.publish_date  %} Draft {% endif %}</h4>
                <a href="{{ blogpost.get_absolute_url }}" class="card-link">Full Post </a>
            {% endif %}
        </div>
    </div>
</div>

