{% extends 'base.html' %}

{% block title %}
blog detail
{% endblock %}

{% block content %}
<div class="row">
{% include 'blog/list-inline.html' with blogpost=object truncate=False detail=True %}


{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <div class="input-group mb-3 col-8 mx-auto">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ object.get_edit_url }}">Edit</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ object.get_delete_url }}">Delete</a>
          </div>
        </div>
      </div>
    {% endif %}
{% endif %}
</div>
{% endblock %}
